@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h4 {
  color: rgb(136, 136, 136);
  line-height: 1.4;
  letter-spacing: 1px;
}
/* getapi  */

.api-container {
  height: 80vh;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 1rem;
  min-width: 50%;
  background-color: white;
}
/* INPUT */
.search-container {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100%;
  overflow: hidden;
}
.search-input {
  position: fixed;
  display: block;
  width: 48.2%;
  border: none;
  border-radius: 8.9% 0 0 0;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  margin: 0 0.4rem;
}
.search-input {
  outline: none;
}
@media screen and (max-width: 1300px) {
  .search-input {
    width: 46.8%;
  }
}
/* allusercards  */
.allUserCards-container {
  width: 100%;
  margin: 0.1rem;
}
.allUserCards-container:nth-child(2) {
  margin-top: 4.5rem;
}

/* Card */
.card-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 0.4rem;
  padding: 1rem;
  border-bottom: 2px solid lightgray;
  align-items: center;
}

.card-container h1 {
  font-size: 2.6em;
  margin-bottom: 0.5rem;
}
.card-container h4 {
  margin-left: 1.7rem;
}
.card-inContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
}
.card-picContainer {
  display: flex;
  border-radius: 50%;
  min-width: 115px;
  height: 115px;
  margin-right: 3rem;
  border: 1px solid lightgray;
  overflow: hidden;
}


.card-picture {
  object-fit: contain;
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}

.plus-container {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  margin-bottom: auto;
}
.plus-container i {
  font-size: 2rem;
  color: rgb(172, 172, 172);
}

.btn-expand {
  margin-right: 0.5rem;
  cursor: pointer;
  background-color: white;
  border: none;
}
